*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Alexandria', sans-serif;
}

  button{
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    border: 0;
    cursor: pointer;

}

.work_arrow{
  span:hover{
    cursor: pointer;
  }
}
  .button_blue{
    background-image: linear-gradient(to right, #03a7d3e6 , #1d4588);

}
.button_pink{
  background-image: linear-gradient(to right, #b6246e , #f9636b);
  margin-right: 2rem;

}

.button_pink:hover{
  background-image: linear-gradient(to right, #03a7d3e6 , #1d4588);
  box-shadow:0px 0px 50px #03a7d3e6;

}
.button_blue:hover{
  background-image: linear-gradient(to right, #b6246e , #f9636b);
  box-shadow:0px 0px 50px #f9636b;
}

header{
  span:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}

.hover_bg_pink:hover{
  background-image: linear-gradient( #162d6a , #010130); 
  color: white;
  p{
    color: white;
  }
  img{
    box-shadow:0px 0px 15px #8d8b8b;

  }
  .arrow_pink{
    opacity: 1;
    cursor: pointer;
  }

}


.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.container{
  width: 80%;
  margin: auto;
}

.col-3{
  width: calc(100% / 12 * 3 - 15px);
}

.col-6{
  width: calc(100% / 12 * 6 - 15px);
}

.col-4{
  width: calc(100% / 12 * 4 - 15px);
}




